.footer-details {
  border: 1px solid black;
}

.footer-info {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}
